*.iml
.gradle
/local.properties
/.idea/caches
/.idea/libraries
/.idea/modules.xml
/.idea/workspace.xml
/.idea/navEditor.xml
/.idea/assetWizardSettings.xml
.DS_Store
/build
/captures
.externalNativeBuild
.cxx
local.properties
app/google-services.json
.android-home/
.gradle-home/
emulator-ticket7.out.log
emulator-ticket7.err.log
emulator-ticket9.out.log
emulator-ticket9.err.log
ticket9-android-harness.log
